@page "/fetchdata"

@using ScoutsMealPlanner.Data
@inject MenuService MenuService

<h1>Menu List</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (menus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Menu Name</th>
                <th>Camp</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menu in menus)
            {
                <tr>
                    <td>@menu.MenuName</td>
                    <td>@menu.Camp.Name</td>
                    <td>@menu.StartDate.ToShortDateString()</td>
                    <td>@menu.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ScoutsMealPlanner.Models.Menu> menus;

    protected override async Task OnInitializedAsync()
    {
        menus = await MenuService.GetMenusAsync();
    }
}
